
/* ----- Main Page Styling -----*/

body {
  background-color: snow;
}

/*Jumbotron styles*/

.header {
  background-image: url(../images/everest.jpg);
  height: 70vh;
  color: honeydew;
  font-family: 'Merienda', cursive;
  box-sizing: border-box;
}

body {
	background-color: snow;
}

.container {
  margin-right: 5vw;
  margin-left: 5vw;
}

/* ----- Nav Bar-----*/

#navbarSupportedContent a {
	color: grey;
	margin-left: 74px;
  font-size: 1.2em;
}

.navbar-brand {
  color: grey;
  font-size: 1.5em;
}

.bg-light {
  background-color: snow!important;
}

.navcolors {
font-family: 'Hanalei Fill', cursive;
}

#navbarSupportedContent a {
float: right!important;
color: red;
margin-left: 90px;
}

/* ----- Card Styling -----*/

.card {
  margin-right: 30px;
  margin-bottom: 30px;
}
.card-txt {
  text-align: center;
}

.card-img {
  height: 200px;
  width: 250px;
}


/* ----- Footer Styling -----*/


.footer {
  display: inline-flex;

 /*footer styles*/
.mast-foot {
  display: flex;
}

.social-icon {
  margin-left: 100px;
  /*margin-top: 80px;*/
}

.footer-year {
  color: gray;
}

.footer-logo {
  height: 6vh;
  width: 10vw;
  margin-left: 60px;
  /*margin-top: 75px;*/
}

.copyp {
  width: 20%;
  margin: 0 auto 0 auto
    


.inner {
  padding: 80px;
}




