body {
  background-color: snow;
}

/*Jumbotron styles*/
.header {
  background-image: url(../images/everest.jpg);
  height: 70vh;
  color: honeydew;
  font-family: 'Merienda', cursive;
  box-sizing: border-box;
}

/*footer styles*/
.mast-foot {
  display: flex;
}

.footer-year {
  color: gray;
}

.footer-logo {
  height: 6vh;
  width: 10vw;
}

/*nav styles*/
.navbar-brand {
  color: grey;
  font-size: 1.5em;
}

.bg-light {
    background-color: snow!important;
}

.navcolors {
font-family: 'Hanalei Fill', cursive;
}

#navbarSupportedContent a {
	color: grey;
	margin-left: 74px;
  font-size: 1.2em;
}
