
/* ----- Main Page Styling -----*/

body {
  background-color: snow;
}

/*Jumbotron styles*/

.header {
  background-image: url(../../src/images/everest.jpg);
  height: 70vh;
  color: honeydew;
  font-family: 'Merienda', cursive;
  box-sizing: border-box;
}

.header-about {
  background-image: url(../../src/images/hi-res-jump.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.header-contact {
  background-image: url(../../src/images/dumbo.jpeg);
  background-repeat: no-repeat;
  background-size: 100vw;
  box-sizing: border-box;
}

.header-gallery {
  background-image: url(../../src/images/freesolo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
}

body {
	background-color: snow;
}

/* ----- Nav Bar-----*/

.navbar-brand {
  color: grey;
  font-size: 1.5em;
}

.bg-light {
  background-color: snow!important;
}

.navcolors {
  font-family: 'Ubuntu', sans-serif;
}

#navbarSupportedContent a {
float: right!important;
color: grey;
margin-left: 90px;
font-size: 1.2em;
}

/* ----- Card Styling -----*/

.card {
  border: none;
  background-color: snow;
}

.card:hover .card-body {
  background: lightgray;
  transition: all 0.2s ease-in-out;
}

.card:hover .btn {
  background: crimson;
  border: none;
  color: white;
}

/* ----- Footer Styling -----*/

 
.mastfoot {
  display: flex;
}

.social-icon {
  padding: 20px;
  /*margin-top: 80px;*/
}

.footer-year {
  color: gray;
}

.footer-logo {
  height: 6vh;
  width: 10vw;
  /*margin-top: 75px;*/
}

.copyp {
  width: 20%;
  margin: 0 auto 0 auto
}
    
.inner {
  padding: 40px 80px 10px 80px;
}

.footer {
  text-align: center;
}




